<form>
    <h2>Create group</h2>
    <label>Имя </label>
    <div class='input-field'>
        <input type='text' name='name'>
    </div>
    <label>price</label>
    <div class='input-field'>
        <input type='number' name='price'>
    </div>
    <label>categoryId</label>
    <div class='input-field'>
        <input type='text' name='categoryId'>
    </div>
    <label>description</label>
    <div class='input-field'>
        <input type='text' name='description'>
    </div>
    <label>barcode</label>
    <div class='input-field'>
        <input type='text' name='barcode'>
    </div>
    <label>min_quantity</label>
    <div class='input-field'>
        <input type='number' name='min_quantity'>
    </div>
    

    
    <button type='submit' formmethod="POST" formaction="/create" class='btn'>Create</button>
    
</form>