<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>

<body>

    <body>
        <h1>Вход</h1>

        <form action="/enter" method="post">
            <p>
                <b2>Почта</b2>
                <input name="email" type="text">
            </p>
            <p>
                <b2>Пароль</b2>
                <input name="password" type="text">
            </p>

            <button class="btn" type="submit">Войти</button>

        </form>

    </body>
</body>

</html>