<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/getGroups">группа</a>
    <a href="/create">товар</a>
    {{#each products}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <a>{{price}}</a>
                <a>{{description}}</a>
                <button type='submit' formmethod="POST" formaction="/openProduct" class='btn'>open product</button>
                <input type="hidden" value="{{_id}}" name="idOfProduct">
            </label>
        </form>
    </li>
    {{/each}}
</body>
</html>