<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <a href="/getGroups">группа</a>
    <form>
        <label>
            <input type='number' name=secId>
            <button type='submit' formaction="/getSection" formmethod="POST" class='btn'>товар</button>
        </label>
    </form> -->

    {{#each products}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <a>{{price}}</a>
                <a>{{description}}</a>
                <button type='submit' formmethod="GET" formaction="/" class='btn'>домой</button>
                <input type="hidden" value="{{Id}}" name="Id">
            </label>
        </form>
    </li>
    {{/each}}
</body>

</html>