<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>
    <h1>Регистрация</h1>
    <form action="/registration" method="post">
        <p>
            <b4>Электронная почта</b4>
            <input name="mail" type="text">
        </p>
        <p>
            <b2>Пароль</b2>
            <input name="password" type="text">
        </p>
        <p>
            <b3>Имя</b3>
            <input name="name" type="text">
        </p>

        <button class="btn" type="submit">Зарегистрироваться</button>

    </form>

</body>

</html>